{% if data.state != 'sylius_refund.ui.completed'|trans %}
    <form action="{{ path('sylius_refund_complete_refund_payment', {'orderNumber': data.orderNumber, 'id': data.id}) }}" method="POST">
        <button class="button ui labeled icon yellow">
            <i class="icon check"></i>
            {{ 'sylius.ui.complete'|trans }}
        </button>
    </form>
{% endif %}
